.group-586 {
    height: 496px;
    z-index: 10;
    background-image: url(../public/images/img_group_586.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.group-721 {
    display: flex;
    align-items: cent;
    height: 496px;
}

.section {
    height: 566px;
    z-index: 11;
    background-image: url(../assets/svg/doctor1back.svg);
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    position: relative;
}
 .doctor-video {
    object-fit: cover;
}

.section__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    position: relative;
}

.section__content-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section__content-image {
    height: 376px;
    width: 462px;
    object-fit: contain;
}

.section__content-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section__doctor-name {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.section__text {
    font-size: 24px;
    line-height: 36px;
    color: white;
    text-transform: capitalize;
}

.appointment-btn {
    width: 187px;
    padding: 10px;
    background-color: rgba(0, 151, 70, 1);
    border-radius: 6px;
    text-align: center;
}

.appointment-btn p {
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

.doctor-video {
    height: 100%;
    width: 55%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    object-fit: cover;
}

@media only screen and (max-width: 1050px) {
    .group-721 {
        flex-direction: column;
    }

    .section__content-row {
        flex-direction: column;
        align-items: center;
    }

    .doctor-video {
        width: 100%;
        border-radius: 0;
    }
}
