body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: inherit;
    margin: unset;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    margin: 0;
    margin-inline: unset !important;
    padding: 0;
    list-style: none;
}

.ui.ratingbar:not(:checked)>input {
    position: absolute;
    visibility: hidden;
}

.ui.ratingbar:not(:checked)>label {
    cursor: pointer;
    font-size: var(--rating-font-size);
    color: var(--rating-inactive-color);
}

.ui.ratingbar:not(:checked)>label:before {
    content: "★ ";
}

.ui.ratingbar:not(:checked)>label:hover,
.ui.ratingbar:not(:checked)>label:hover~label,
.ui.ratingbar>input:checked~label {
    color: var(--rating-active-color);
}

[type="text"],
input:where(:not([type])),
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select,
button {
    appearance: none;
    background-color: transparent;
    border-color: unset;
    border-width: 0;
    border-radius: unset;
    padding: unset;
    font-size: unset;
    line-height: unset;
    color: inherit;
}

input:focus-visible,
[multiple]:focus-visible,
textarea:focus-visible,
select:focus-visible {
    outline: none;
}

/* Modal Container Styles */
.modal-container {
    position: fixed; /* Fix the modal on the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center; /* Center modal vertically */
    justify-content: center; /* Center modal horizontally */
    z-index: 1000; /* Ensure it's above other elements */
}

/* Modal Styles */
.modal {
    width: 600px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modal Header */
.modal-header {
    background-color: #08749B;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* Modal Content */
.modal-content {
    padding: 20px;
}

/* Input Row */
.input-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-row label {
    margin-bottom: 5px;
    font-size: 14px;
}

.input-row .input-field {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Modal Actions */
.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-actions .btn {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-actions .btn-primary {
    background-color: #009746;
    color: white;
}

.modal-actions .btn-danger {
    background-color: #C50000;
    color: white;
}

/* modal */